body {
    background-color: rgb(54, 54, 54);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: #FFF; 
}

h1{
    text-align: center;
    
}

.intro{
    text-align: center;
    
    margin-bottom: 30px;
}


nav{

    border: 2px solid rgb(255, 255, 255);
    width: 160px;
    height: 110px;
    align-items: center;
    box-shadow: 5px 5px 8px black;
    padding:10px;
    margin-right:30px;
    margin-bottom: 30px;

  
}

.team_text{
    float: left;
    width: 80%;
}
.verlinktes_bild{
    float: right;
    width: 10%;
    
}
.team_dominik{
    width:100%;
}
.team_can{
    width:100%;
}
.team_nathalie{
    width:100%;
}

.nav_link{
    color: rgb(0, 180, 235); 
}

.team-titel{
    text-align: center;
    margin-top: 25px;

}
.team_name{
    width: 100%;
    float: left;
}

.kontaktdaten{
    float: left;
}

.kontaktdaten_tabelle{
    display: flex;
    margin-bottom: 70px;
}

.kontakt_dominik{

    margin-right: 50px;
}
.kontakt_can{
   
    margin-left: 50px;
}
.can_name{
    float: left;
}

.mario_bild{
    display: flex;
    justify-content: center;
}
