h1{
    color: blueviolet;
    font-family: Arial;
}
p{
    font-size: 150%;
    font-family: Arial;
}
table,th,td{
    border: 1px solid black;
    font-size: 120%;
}
iframe{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform:translateX(-50%);
}