body {
    background-color: rgb(54, 54, 54);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: #FFF; 
}

h1{
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:rgb(139, 61, 61);
}